.flex-control-nav li {
  list-style: none;
  list-style-type: none;
}
.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: visible !important;
}
.flexslider-view-style {
  padding: 15px;
}
.flex-direction-nav li {
  list-style: none;
}
