<div{{ attributes }} class="well well-sm">
<strong>Display</strong>
  <div class="btn-group">
  {% for btn_id, url in display_btns %}
    <a href="{{ url }}" id="{{ btn_id }}" class="btn btn-default btn-sm"><i class="icon-{{ btn_id }}">&nbsp;</i>{{ btn_id|capitalize }}</a>
  {% endfor %}
  </div>
  &nbsp;&nbsp;
{#
  <strong>Sort By</strong>
  <div class="btn-group">
    <select class="selectpicker" data-style="btn" tabindex="-98">
      <option>One</option>
      <option>Two</option>
      <option>Three</option>
      <option>Four</option>
    </select>
  </div>
  &nbsp;&nbsp;
#}
  <strong>Results Per Page</strong>
  <div class="btn-group">
    <form action="" id="result_count_form">
      {% for key,value in existing_params %}
      <input type="hidden" name="{{ key }}" value="{{ value }}" />
      {% endfor %}
      <select title="Items to display per page" name="items_per_page" onchange="result_count_form.submit()" tabindex="-98">
      {% for option in paginations %}
        <option{% if option.selected %} selected{% endif %}>{{ option.value }}</option>
      {% endfor %}
      </select>
      <noscript>
        <input type="submit" />
      </noscript>
    </form>
  </div>
</div>
<div class="btn-group search-box-terms">
{% for btn in term_buttons %}
  <button class="btn btn-default btn-sm term-button">
    {{ btn }}
  </button>
{% endfor %}
{% for btn in facet_buttons %}
  <button class="btn btn-default btn-sm facet-button">
    {{ btn }}
  </button>
{% endfor %}
</div>
