{#
/**
 * Implementation for Views to output a flexslider slideshow.
 *
 * Available variables:
 * - options: View plugin style option (TBD)s
 * - slides: The slides to render.
 *   - thumb: the URL for a thumnail to display.
 *   - content: content to render (usually a single img tag or media controller).
 *   - caption: the caption to display over the item.
 *
 * @see template_preprocess_views_view_flexslider()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'flexslider-view-style',
    options.classes
  ]
%}
<div{{ attributes.addClass(classes) }} id="flexslider-view-style">
      <ul class="slides">
      {% for key, slide in slides %}
        <li class="slide" data-thumb="{{ slide.thumb|default( '/' ~ module_path ~ '/assets/images/no-thumb.jpg') }}">
            {{ slide.content|render }}
          {% if slide.caption is not empty %}
            <p class="flex-caption slider-caption-bg">{{ slide.caption }}</p>
          {% endif %}
        </li>
      {% endfor %}
      </ul>
</div>
<div class="clear"></div>
